body{
   /* color: #fff00ff;*/
    /* This is a single-line comment */
	font-size: 24px;
	background-color: grey;
  background: url('dots.jpg')center center fixed,url('wallpaper.jpg')center center fixed; 

}
a,li,ul{
  text-decoration: none;
  border: 0;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#nav {
      width: 100%;
      float: left;
      margin: 0 0em 0em 0;
      padding: 0;
      list-style: none;
      background-color: transparent;
      border-bottom: 1px solid black; 
      border-top: 1px solid black; 
      box-shadow:2px 2px 2px;
    }
   #nav li {
      width: 13%;
      text-align: center;
       }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      line-height: 1.7;
      border-right: 1px solid black; }
   
   #home {
      float: left; 
    }
   #signup {
      float: right; }
   #signup a{
      border-left: 1px solid black; }
   #login {
      float: right; }
   #login {
    border-left: 1px solid black;}

   #nav li a:hover {
      color: #069;
      background-color: #fff; }

p{
color: floralwhite;
    /* This is a single-line comment */
}
.nav1{
  float: center; 
  clear: both;
  width: 50%; 
  height: 700px;
  margin: 2% auto;
  background: transparent;
  font-family: Arial, cursive;
  font-size:24px;
}

.nav1 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav1 li{
  float: none;
  margin: 3px; 
  width: 100%;
  box-shadow:2px 2px 2px 2px;
  line-height: 2.5;
}

.nav1 li a{
  display: block; 
  width: 100%; 
  padding: 16px;  
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #f8f8ff;
  box-sizing: border-box; 
}
  
.nav1 li a:hover{ border-bottom: 0px; color: #fff;}
.nav1 li:first-child a{ border-left: 10px solid #3498db; }
.nav1 li:nth-child(2) a{ border-left: 10px solid #ffd071; }
.nav1 li:nth-child(3) a{ border-left: 10px solid #f0776c; }
.nav1 li:nth-child(4) a{ border-left: 10px solid #228b22; }
.nav1 li:nth-child(5) a{ border-left: 10px solid #db7093; }
.nav1 li:last-child a{ border-left: 10px solid #1abc9c; }

.nav1 li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}
.nav1 li a:hover:after{ width: 100%; }
.nav1 li:first-child a:after{ background: #1C699C; }
.nav1 li:nth-child(2) a:after{ background: #B87A00; }
.nav1 li:nth-child(3) a:after{ background: #DC143C; }
.nav1 li:nth-child(4) a:after{ background: #008000; }
.nav1 li:nth-child(5) a:after{ background: purple; }
.nav1 li:last-child a:after{ background: #149077; }
}


.rows ul {
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
  margin:10% auto; 
  position:relative;
}

.rows li{
  text-decoration: none;
  display:inline-block;
  width:40%;
  height:10%;
  text-align: center;
  overflow:visible;
  padding-left: 12%;
}

.footer{
  width: 100%;
  height: 60px;
  padding: 0.3px;
  margin-bottom: 2px;
  background-color: #2f4f4f;
  text-align: left;

.footer p{
  color: floralwhite;
}