     body {
      background-color: #555; 
      font: large/1.3 Arial, Helvetica, sans-serif; 
  }
   table {
wod

   }
   /*#wrap {
      margin: 0 auto;
      background-color: #fff; }*/
   #nav {
      width: 100%;
      float: left;
      margin: 0 0em 0em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; 
      box-shadow:2px 2px 2px;
    }
   #nav li {
   	  width: 13%;
   	  text-align: center;
       }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      line-height: 1.7;
      border-right: 1px solid #ccc; }
   
   #home {
   	  float: left; 
   	}
   #signup {
   	  float: right; }
   #signup a{
   	  border-left: 1px solid #ccc; }
   #login {
   	  float: right; }
   #login {
	  border-left: 1px solid #ccc;}

   #nav li a:hover {
      color: #c00;
      background-color: #fff; }
.nav1{
  float: left; 
  clear: both;
  width: 25%; 
  height: 1000px;
  margin: 1% auto;
  background: #eee;
  box-shadow:2px 2px 2px;
  font-family: Arial, cursive;
  font-size:24px;
}

.nav1 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav1 li{
	float: none; 
  width: 100%;
}

.nav1 li a{
  display: block; 
  width: 100%; 
  padding: 16px;  
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box; 
}
	
.nav1 li a:hover{ border-bottom: 0px; color: #fff;}
.nav1 li:first-child a{ border-left: 10px solid #3498db; }
.nav1 li:nth-child(2) a{ border-left: 10px solid #ffd071; }
.nav1 li:nth-child(3) a{ border-left: 10px solid #f0776c; }
.nav1 li:nth-child(4) a{ border-left: 10px solid #DCDCDC; }
.nav1 li:last-child a{ border-left: 10px solid #1abc9c; }

.nav1 li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}
.nav1 li a:hover:after{ width: 100%; }
.nav1 li:first-child a{ background: #1C699C; }
.nav1 li:nth-child(2) a:after{ background: #B87A00; }
.nav1 li:nth-child(3) a:after{ background: #DC143C; }
.nav1 li:nth-child(4) a:after{ background: #808080; }
.nav1 li:last-child a:after{ background: #149077; }
}
img {
	float: left;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.rows {
  	display: inline-block;
  	width: 75%;
    position:relative;
    overflow:hidden;
    padding:2%;
    padding-top: 0;
 
    background: #F8F8FF;
    margin: 1% auto;
    font-family: Arial, cursive;
    font-size:20px;
    box-shadow:2px 2px 2px;
  }
  .rows li{
  display:inline-block;
  position:relative;
  width:20%;
  overflow:hidden;
  padding:1%;
  margin-right:5%;
}
.rows ul {
  list-style:none;
  margin:0;
  padding:1%;
  width:100%;
  font-family: Arial, cursive;
  position:relative;
}
.rows h2 a{
	color: #428bca;
    text-decoration: none;
    background-color: transparent;
    cursor: auto;
}
.rows a{
	color: #428bca;
    text-decoration: none;
    background-color: transparent;
    cursor: auto;
}
.rows h2{
	font-size: 30px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	border-bottom: 2px solid #DCDCDC; 
}
.chevron2::before {
color:DarkGray;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1em;
}
.chevron2.right:before {
	left: 35%;
	transform: rotate(45deg);
}

.chevron2.left:before {
	left: 25%;
	transform: rotate(-135deg);
}

$dark#cc4e46: darken($#cc4e46, 0.2);

.footable > thead > tr > th,.footable > thead > tr > td {
  position: relative;
}

.footable {
  border-spacing: 0;
  width: 100%;
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 14px;
  color: floralwhite;
}
.elements tr {
  color:#444;
}

.footable.breakpoint > tbody > tr > td.expand {
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
}

.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #eee;
}

.footable > tbody > tr:hover {
  background: #fbf8e9;
}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.footable > thead > tr > th, .footable > thead > tr > td {
  background-color: #cc4e46;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc4e46), to(darkred));
  background-image: -webkit-linear-gradient(top, #cc4e46, darkred);
  background-image: -moz-linear-gradient(top, #cc4e46, darkred);
  background-image: -ms-linear-gradient(top, #cc4e46, darkred);
  background-image: -o-linear-gradient(top, #cc4e46, darkred);
  background-image: linear-gradient(to bottom, #cc4e46,darkred);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.footable > thead > tr > th:last-child, .footable > thead > tr > td:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.footable > thead > tr > th:only-child, .footable > thead > tr > td:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.footable > tbody > tr:last-child > td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.footable > tbody > tr:last-child > td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

.footable > tbody img {
  vertical-align:middle;
}